################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

ApiGateway.sln
ApiGateway/obj
ApiGateway/bin
ApiGateway/Migrations
.vs
.idea
ApiGateway.sln.DotSettings.user
